
* {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding:0;

}
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.6;
}

h1{
    font-size: 2em;
    padding: 20px;
    text-align: center;
}
h2{
    font-size: 3em;
    text-align: center;
}
h6 {
    font-size: 1em;
}
.fotos{
    position:relative;
}

.fotos img {
    width: 25%;
    margin:0;
    float:left;
  }

header{
    margin-bottom:4em;
}
header>h2{
    font-style:italic;
}
header nav{
    margin-top:2em;
}
header nav ul{
    max-width: 758px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    display: inline-block;
}
header nav ul li a{
    background-color: rgba(255,255,255,0.1);
    border-radius: .4em;
    color:white;
    padding:0.5em 1em;
}
header nav ul li a:hover{
    background-color:rgba(255,255,255,0.2);
    opacity: 1;
}
.reservarturno {
    width: 50%;
}

.reservarturno {
    margin: 0 auto;
    width: 50%;
    display: block;
}